.link-btn {
    text-decoration: none;
    color: hsl(231, 11%, 63%);
}
.link-btn:hover {
    color: hsl(213, 96%, 18%);
}
.btn-bg {
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    padding: 12px 20px;
    border-radius: 8px;
}
.btn-bg:hover {
    background-color: hsl(213, 65%, 30%);
    color: hsl(0, 0%, 100%); 
}